body {
    background-image: url("/Users/kennya/GA/projects/Catch-ME/img/pokebackgrnd.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid {
	display: grid;
    grid-template-columns: repeat(4, 200px);
	grid-template-rows: repeat(4, 200px);
}

.square {
    height: 200px;
	width: 200px;
	border: solid black 1px;
}

.pikaRun {
    background-image: url('/Users/kennya/GA/projects/Catch-ME/img/pikaRun.jpeg');
    background-position: cover;
    background-repeat: no-repeat;
}
.overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: rgb(240, 210, 151);
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);

}

