.grid {
	display: grid;
    grid-template-columns: repeat(4, 200px);
	grid-template-rows: repeat(4, 200px);
}

.square {
    height: 200px;
	width: 200px;
	border: solid black 1px;
}

.pikaRun {
    background-image: url('/Users/kennya/GA/projects/Catch-ME/img/pikaRun.jpeg');
    background-position: cover;
}
